input[type="submit"],
button {
	@include rem('margin', 15px 0 20px 0);
	@include rem('padding', 8px 14px);
	@include font-stack-secondary;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: $color-text;
	background: $color-primary;
	border: $color-secondary-dark;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
    -webkit-transition: right 0.125s ease;
    -moz-transition: right 0.125s ease;
    transition: left 0.125s ease;
	@include hover {
		background-color: lighten($color-primary, 8%);
		box-shadow: inset 0 1px 0 rgba(0,0,0,.12);
	}
	&:active {
		background-color: lighten($color-primary, 15%);
		box-shadow: inset 0 2px 6px rgba(0,0,0,.3);
	}
}
