input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="submit"],
textarea,
select {
	@include rem('margin', 5px 0 20px 0);
    @include rem('padding', 10px 16px);
	border: 0;
	outline: none;
	@include font-stack-secondary;
	line-height: $leading;
}

label + input[type="text"],
label + input[type="email"],
label + input[type="url"],
label + textarea,{
	display: block;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
textarea,
select {
	width: 100%;
	color: #fff;
    font-weight: $light;
    letter-spacing: 1px;
	border-left: solid 10px rgba(0,0,0,.15);
	background-color: rgba(255,255,255,.08);
}

	input:hover,
	textarea:hover,
	select:hover,
	button:hover  {
		@extend %transition;
		border-color: $color-primary !important;
	}
	input:focus,
	textarea:focus,
	select:focus,
	button:focus {
		outline: none;
		box-shadow: inset 0 1px 6px rgba(0,0,0,.05);
	}

select {
	border-color: rgba(0,0,0,.5);
}

input[type="radio"],
input[type="checkbox"] {
	margin: 0 .5em 0 1em;
}

textarea {
	min-height: 6em;
}

form li {
	margin-bottom: 1em;
}
