//
//    SETTINGS
//    ------------------------------------------------------------------------ //
//    Global variables to set the base styles.
//    ------------------------------------------------------------------------ //
//
//    I.    Theme directories
//
//    II.   Typography
//              A. @font-face declarations
//              B. Base definitions
//                      1. Weights
//                      2. Sizes
//                      3. Stacks
//
//    III. Colors
//              A. Descriptive variables
//              B. Functional variables
//              C. Layout colors
//
//    IV.   Icons
//
//    ------------------------------------------------------------------------ */


// I. Theme directories
// ------------------------------------------------------------------------- //

$theme-path: "http://jessicapaoli.com/v6/assets/";
$image-path: "#{$theme-path}/images";

// ========================================================================= //
// II. Typography
// ========================================================================= //

// 1.   Weights
$light:                     300;
$normal:                    400;
$bold:                      700;

// 2.   Sizes
$font-size-base:            16px;
$font-size-large:           42px;
$font-size-small:           13px;
$font-size-tiny:            11px;
$font-size-fixed:           90%;

$leading:                   1.65;

// 3.   Family stacks
$font-family-primary:       'Mercury SSm A', 'Mercury SSm B', Georgia, serif;
$font-family-secondary:     "ATC Overlook", Avenir, "Lucida Grande", Verdana, sans-serif;
$font-family-fixed:         monospace;
$font-family-icons:         "SkullfaceIcon";

// 4.   Webfont delcarations

@font-face {
  font-family: 'SkullfaceIcon';
  src: url('#{$theme-path}/fonts/SkullfaceIcon.eot'), url(#{$theme-path}/fonts/SkullfaceIcon.ttf) format('truetype'), url('#{$theme-path}/fonts/SkullfaceIcon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ATC Overlook';
  font-style: normal;
  font-weight: 300;
  src: local('ATC Overlook Light'), local('ATCOverlook-Light'), url(#{$theme-path}/fonts/ATCOverlook-Light.woff) format('woff');
}

@font-face {
  font-family: 'ATC Overlook';
  font-style: normal;
  font-weight: 400;
  src: local('ATC Overlook Regular'), local('ATCOverlook-Regular'), url(#{$theme-path}/fonts/ATCOverlook-Regular.woff) format('woff');
}

@font-face {
  font-family: 'ATC Overlook';
  font-style: normal;
  font-weight: 700;
  src: local('ATC Overlook Bold'), local('ATCOverlook-Bold'), url(#{$theme-path}/fonts/ATCOverlook-Bold.woff) format('woff');
}


// ========================================================================= //
// III. Colors
// ========================================================================= //

// A.   Descriptive variables
// ------------------------------------------------------------------------- //
$lime:                      #9abb17;
$purple:                    #777;

$red:                       #ff4136;

$gray:                      #1e1e1e;
$gray-medium:               #626262;
$gray-light:                #e9e9e9;

// B.   Functional variables
// ------------------------------------------------------------------------- //
$color-primary:             $lime;
$color-primary-dark:        darken($color-primary, 5%);
$color-primary-darkest:     darken($color-primary, 20%);
$color-primary-light:       lighten($color-primary, 35%);

$color-secondary:           $purple;
$color-secondary-dark:      darken($color-secondary, 5%);
$color-secondary-light:     lighten($color-secondary, 5%);

$color-tertiary:            $gray-medium;
$color-tertiary-dark:       $gray;
$color-tertiary-light:      $gray-light;

// C.   Layout colors
// ------------------------------------------------------------------------- //
$color-text:                $color-tertiary-dark;
$color-text-light:          $color-tertiary-light;

$color-link:                $color-secondary;
$color-link-secondary:      $color-text; //hover :)

$color-background-dark:     $color-text;