.social-networks {
    width: 100%;
    @include rem('margin', 10px auto);
    @include rem('padding', 50px 0 20px 50px);
    @extend %no-list;
    &:before {
        @extend %clear;
    }
    @include media-query($screen-size: 700px) {
        @include rem('padding', 30px 0 10px 0);
    }
}

    .social-networks li {
        display: inline-block;
        background: white;
        width: 24.5%;
        @include media-query($screen-size: 700px) {
            width: 48%;
        }
    }

    .social-networks a {
        width: 100%;
        @include font-stack-secondary;
        @include rem('font-size', 15px);
        vertical-align: top;
     }

     .social-networks li a:before {
        font-size: 2.25em;
        color: rgb(220,220,220);
    }

    .social-networks a:hover:before,
    .social-networks a:focus:before {
        color: $color-primary;
    }

    .social-network-name,
    .social-network-username {
        position: relative;
        top: -1.75em;
        left: 1em;
    }

    .social-network-name {
        top: -2.2em;
        @include rem('font-size', 9.5px);
        text-transform: uppercase;
        letter-spacing: 2px;
        color: rgb(140,140,140);
        @include media-query {
            left: 3px;
        }
    }

    .social-network-username {
        display: block;
        margin-left: 2em;
        font-weight: $normal;
        @include media-query {
            @include rem('font-size', 14px)
        }
    }

.contact-container,
.about-container {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: row;
    color: #fff;
    @include media-query($screen-size: 700px) {
        flex-direction: column;
        flex-wrap: wrap;
        -webkit-flex-direction: column;
        -webkit-flex-wrap: wrap;
    }
}

    .portrait-1 {
        float: left;
        width: 65%;
        background-position: right top;
        background-size: cover;

        @include media-query($screen-size: 700px) {
            width: 100% !important;
            height: 300px;
        }
    }

    .about-text {
        display: inline-block;
        float: right;
        position: relative;
       -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
       -moz-box-flex: 1;         /* OLD - Firefox 19- */
        width: 35%;
       -webkit-flex: 1;          /* Chrome */
       -ms-flex: 1;              /* IE 10 */
        flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
        @include rem('padding', 50px 50px 100px 50px);
        background: $color-primary;
        color: #fff;
        a {
            color: $color-primary-darkest;
            border-color: $color-primary-dark;
            @include hover {
                color: $color-text;
                border-color: darken($color-primary-dark, 10%);
            }
        }
        @include media-query($screen-size: 700px) {
            width: 100% !important;
        }
    }

        .photo-credit {
            position: absolute;
            bottom: 50px;
            @include font-stack-secondary;
            @include rem('font-size', $font-size-tiny);
            text-transform: uppercase;
            letter-spacing: 2px;
        }

.colophon {
    @extend %container;
    @include rem('padding', 20px);
    @include font-stack-secondary($weight: $normal);
    @include rem ('font-size', $font-size-small);
}