.contact-container svg {
    position: relative;
    top: 2px;
    width: 1em;
    height: 1em;
}

.text-contact {
    float: left;
    width:  30%;
    background: $color-tertiary;
    @include rem('padding', 50px);
    @include media-query($screen-size: 700px) {
        width: 100%;
    }
    a {
        color: darken($color-tertiary-light, 10%);
        border-color: darken($color-tertiary, 10%);
        @include hover {
            color: #fff;
            border-color: darken($color-tertiary, 20%);
        }
    }

    #mail {
        fill: lighten($color-tertiary, 20%);
        border-bottom: 0;
    }
}

#contactform {
    display: inline-block;
    float: right;
    position: relative;
   -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
   -moz-box-flex: 1;         /* OLD - Firefox 19- */
    width: 70%;
   -webkit-flex: 1;          /* Chrome */
   -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    @include rem('padding', 50px);
    background: $color-tertiary-dark;
    @include font-stack-secondary;
    @include rem('font-size', 14px);
    @include media-query($screen-size: 700px) {
        width: 100%;
    }
}

    .form-field {
        width: 48%;
        color: lighten($color-tertiary, 3%);
        @include rem('margin', 0 20px 10px 0);
        @include media-query($screen-size: 700px) {
            width: 100%;
        }
    }

        .form-field--name {
            float: left;
        }
        .form-field--email {
            margin-right: 0;
            float: right;
        }

    .form-field--input:after {
        @include clearfix;
        @extend %clear;
    }

        .form-label {
            text-transform: uppercase;
            @include rem('font-size', $font-size-base);
        }

        .form-input {
            @include rem('margin', 5px 0 0 0);
        }

        .form-field.textarea {
            display: block;
            width: 100%;
        }

        #arrow-right {
            fill: $color-text;
        }

        .contactform-button:active#arrow-right {
            -webkit-transform: translateX(2px);
        }


        .form-required {
            color: darken($color-tertiary, 13%);
        }

            .form-field.error .form-required {
                color: $red;
            }

            .form-field.error input[type="text"],
            .form-field.error textarea {
                border-left-color: $red;
            }

            .error-alert {
                display: block;
                @include clearfix;
                color: #fff;
                background: $red;
                @include rem('padding', 10px 15px);
                @include rem('margin', 20px 0);
            }

            .error-context {
                float: right;
                font-weight: $light;
                text-transform: none;
                color: $color-tertiary;
            }
