.site-footer {
    clear: both;
    @include rem('padding', 60px 0);
    @include font-stack-secondary($weight: $normal);
    @include rem('font-size', $font-size-tiny);
    text-transform: uppercase;
    @include rem('letter-spacing', 1px);
    text-align: center;
    color: $color-tertiary;
    border-top: solid 20px $color-tertiary-light;
    @include media-query {
        padding: 30px 20px;
        line-height: 1.2;
    }
}

.site-footer a {
    color: $color-text;
}

.back-to-top {
    border: 0;
    @include rem('font-size', $font-size-base);
    @include icon('before', true, 'up') {
        position: relative;
        top: 2px;
        color: $color-text;
    }
    @include hover {
        &:before {
            color: $color-primary;
        }
    }
}