.site-header {
    position: absolute;
    top: 15px;
    left: 0;
}

    .site-logo {
        position: relative;
        top: 10px;
        width: 50px;
        height: 50px;
        margin-right: 5px;
        fill: $color-primary;
    }

    .site-header a {
        @include rem('padding', 20px);
        @include font-stack-secondary;
        text-transform: uppercase;
        @include rem('font-size', 16px);
        color: $color-text;
        @include media-query {
            padding: 10px;
        }
        @include hover {
            color: $color-primary;
        }
    }

    .slash {
        position: relative;
        top: 8px;
        @include rem('margin', 6px);
        font-weight: $normal;
        @include rem('font-size', 40px);
        color: darken($color-tertiary-light, 10%);
        @include media-query {
            margin: 0;
        }
    }

.project-navigation {
    position: fixed;
    top: 30px;
    right: 0px;
    z-index: 1000;
    @extend %no-list;
    background: $color-tertiary-light;
    li {
        display: inline-block;
        height: 50px;
        width: 50px;
        vertical-align: top;
        &:last-child {
            margin-right: 0;
        }
        @include hover {
            background: $color-primary-dark;
        }
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px;
    }
    svg {
        position: relative;
        top: 5px;
        display: inline-block;
        height: 30px;
        fill: #fff;
    }

    @include media-query {
        position: absolute;
    }

    .project-navigation--inactive {
        background: $color-tertiary-light;
    }

    .project-navigation--grid svg {
        top: 10px;
        left: -5px;
        height: 20px;
    }

    .project-navigation--next svg {
        float: right;
    }
}

.site-main {
    border-top: solid 120px $color-tertiary-light;
    @include media-query {
        padding: 5px 20px;
    }
}
