.project-information {
    @extend %container;
}

.project-details {
    @extend %container;
    @include rem('font-size', $font-size-small);
}

    .project-details > div {
        @include columns(3.7);
        margin-right: 20px;
    }

    .project-details .tags--large {
        @include columns(7.3);
    }

    @include media-query($screen-size: 780px) {
        .project-details > div {
            width: 100%;
            margin: 0;
        }
    }

    .project-details .date {
        margin-right: 0;
    }

    .project-details dt {
        display: block;
        border-bottom: solid 1px $color-tertiary-light;
        @include font-stack-secondary;
        @include rem('font-size', $font-size-small);
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .project-details dd {
        margin: 10px 0 20px 0;
    }

.project-visuals {
    width: 80%;
    @include rem('margin', 80px auto);
    text-align: center;
    img {
        max-width: 100%;
    }
    ul {
        @extend %no-list;
    }
    li {
        @include rem('margin', 0 0 100px 0);
    }
    p {
        width: 60%;
        margin: 10px auto 0 auto;
        text-align: left;
    }
}



.project-information,
.project-details,
.project-visuals p {
    @include media-query($screen-size: 900px) {
        width: 90%;
    }
}

.project-information,
.project-details,
.project-visuals p {
    @include media-query {
        width: 100%;
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }
}

.visit-site {
    @include font-stack-secondary;
    @include rem('padding', 4px 0);
    text-transform: uppercase;
    @include icon('after', true, 'right') {
      margin-left: 6px;
    }
}