.project-grid {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    @extend %no-list;
    clear: both;
}

.project-grid li {
    @include columns(2.7);
    padding: 10px;
    @include rem('padding', 10px);
    @include rem('margin', 0 20px 30px 0);

    img,
    video {
        display: block;
        margin: 0 auto;
    }

    a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        border: solid 7px #fff;
        @include hover {
            border-color: $color-primary;
        }
    }
    .project-grid-label {
        display: block;
        @include rem('padding', 20px 0);
        @include font-stack-secondary;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}