/*
 *
 * jescapaodjaklshdjaq3uoj
 *
 */
@font-face {
  font-family: 'SkullfaceIcon';
  src: url("http://jessicapaoli.com/v6/assets//fonts/SkullfaceIcon.eot"), url(http://jessicapaoli.com/v6/assets//fonts/SkullfaceIcon.ttf) format("truetype"), url("http://jessicapaoli.com/v6/assets//fonts/SkullfaceIcon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ATC Overlook';
  font-style: normal;
  font-weight: 300;
  src: local("ATC Overlook Light"), local("ATCOverlook-Light"), url(http://jessicapaoli.com/v6/assets//fonts/ATCOverlook-Light.woff) format("woff");
}

@font-face {
  font-family: 'ATC Overlook';
  font-style: normal;
  font-weight: 400;
  src: local("ATC Overlook Regular"), local("ATCOverlook-Regular"), url(http://jessicapaoli.com/v6/assets//fonts/ATCOverlook-Regular.woff) format("woff");
}

@font-face {
  font-family: 'ATC Overlook';
  font-style: normal;
  font-weight: 700;
  src: local("ATC Overlook Bold"), local("ATCOverlook-Bold"), url(http://jessicapaoli.com/v6/assets//fonts/ATCOverlook-Bold.woff) format("woff");
}

/* I. Global — Global styling
====================================================== */
/*
 * RESET
 * ------------------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\000035}}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\0000311}}
html {
  overflow-y: scroll;
}

/**
 * Responsive images and other embedded objects
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\0000319}}
img, object, embed {
  max-width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\0000323}}
p {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\0000328}}
p + p {
  margin-top: 1em;
}

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\0000353}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\0000363}}
audio,
canvas,
video {
  display: inline-block;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * Prevent iOS text size adjust after orientation change, without disabling
 * user zoom.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\0000376}}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/**
 * Remove default margin.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\0000385}}
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\0000397}}
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003105}}
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003114}}
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003126}}
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003135}}
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003143}}
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003151}}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003164}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003173}}
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003181}}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003193}}
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003201}}
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003213}}
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003230}}
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003242}}
button,
input {
  line-height: normal;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003257}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003267}}
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003277}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003288}}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003301}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003310}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_reset\.scss}line{font-family:\00003320}}
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/*
    GRID
    ------------------------------------------------------------------------ //
    Until something better comes along.
    ------------------------------------------------------------------------ */
/*
    Grid definitions and functions
    ------------------------------------------------------------------------ //
    Based off Skeleton-SASS V1.0 | Copyright 2012 by Michael Lazer-Walker
    https://github.com/lazerwalker/Skeleton-Sass

    Based off of Skeleton v1.1: https://github.com/dhgamache/Skeleton
    Free to use under the MIT license. | http://www.opensource.org/licenses/mit-license.php
    ------------------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_grid\.scss}line{font-family:\0000382}}
.social-networks:before, .form-field--input:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_grid\.scss}line{font-family:\00003100}}
.colophon, .project-information, .project-details {
  margin: 20px auto;
  *zoom: 1;
  width: 75%;
  max-width: 700px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_grid\.scss}line{font-family:\0000373}}
.colophon:before, .project-information:before, .project-details:before, .colophon:after, .project-information:after, .project-details:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_grid\.scss}line{font-family:\0000377}}
.colophon:after, .project-information:after, .project-details:after {
  clear: both;
}

/*
	HELPERS
	------------------------------------------------------------------------ //
	Sass mixins and silent classes to aid in presentation and accessibility.
	------------------------------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\0000340}}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'SkullfaceIcon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\0000354}}
[data-icon]:before {
  position: relative;
  top: 1px;
  margin: 0 2px 0 4px;
  font-family: SkullfaceIcon;
  content: attr(data-icon);
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\0000392}}
input:hover,
textarea:hover,
select:hover,
button:hover {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\0000397}}
.project-navigation, .social-networks, .project-grid, .project-visuals ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003130}}
h1:before {
  content: "\2014";
  display: block;
  color: #9abb17;
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003153}}
.align-left {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003157}}
.align-right {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003161}}
.align-center {
  display: block;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003143}}
.align-center:before, .align-center:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003147}}
.align-center:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003168}}
img.align-left {
  margin: 0 2em 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003172}}
img.align-right {
  margin: 0 0 0 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003176}}
img.align-center {
  margin: 2em auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003183}}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003191}}
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003239}}
[data-icon]:before {
  content: attr(data-icon);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003255}}
.screen-reader-text {
  display: none;
}

/*
	TYPOGRAPHY
	------------------------------------------------------------------------ //
	Starting point for all the type basics. These shouldn't change.
	------------------------------------------------------------------------ */
@font-face {
  font-family: "SkullfaceIcon";
  src: url("http://jessicapaoli.com/v6/assets//css/fonts/SkullfaceIcon.eot?") format("eot"), url("http://jessicapaoli.com/v6/assets//css/fonts/SkullfaceIcon.woff") format("woff"), url("http://jessicapaoli.com/v6/assets//css/fonts/SkullfaceIcon.ttf") format("truetype");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_typography\.scss}line{font-family:\0000325}}
::selection {
  background: #9abb17;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_typography\.scss}line{font-family:\0000330}}
html {
  font-weight: 400;
  font-family: "Mercury SSm A", "Mercury SSm B", Georgia, serif;
  font-size: 62.5%;
  color: #1e1e1e;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_typography\.scss}line{font-family:\0000338}}
body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.65;
  border-left: solid 20px #e9e9e9;
  border-right: solid 20px #e9e9e9;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_typography\.scss}line{font-family:\0000338}}
  body {
    border: 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_typography\.scss}line{font-family:\0000348}}
a {
  color: #777777;
  text-decoration: none;
  padding-bottom: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\0000370}}
a:hover, a:focus {
  color: #1e1e1e;
  cursor: pointer;
  cursor: url("http://www.snazzyspace.com/cursorsfolder/mickey-perfect.png"), auto !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_typography\.scss}line{font-family:\0000360}}
p a {
  border-bottom: solid 1px #e9e9e9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\0000370}}
p a:hover, p a:focus {
  border-color: #9abb17;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_typography\.scss}line{font-family:\0000367}}
code {
  background: #e9e9e9;
  padding: .3em .5em;
  margin: 0 .25em;
  overflow: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_typography\.scss}line{font-family:\0000380}}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  font-family: "ATC Overlook", Avenir, "Lucida Grande", Verdana, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_typography\.scss}line{font-family:\0000385}}
h1 {
  padding-bottom: 30px;
  padding-bottom: 3rem;
  font-size: 42px;
  font-size: 4.2rem;
  text-align: center;
  line-height: 1.2;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_typography\.scss}line{font-family:\0000385}}
  h1 {
    font-size: 36px;
    font-size: 3.6rem;
  }
}

/* II. Base — Sitewide specifics
====================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/base\/_forms\.scss}line{font-family:\000037}}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="submit"],
textarea,
select {
  margin: 5px 0 20px 0;
  margin: 0.5rem 0 2rem 0;
  padding: 10px 16px;
  padding: 1rem 1.6rem;
  border: 0;
  outline: none;
  font-weight: 700;
  font-family: "ATC Overlook", Avenir, "Lucida Grande", Verdana, sans-serif;
  line-height: 1.65;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/base\/_forms\.scss}line{font-family:\0000319}}
label + input[type="text"],
label + input[type="email"],
label + input[type="url"],
label + textarea {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/base\/_forms\.scss}line{font-family:\0000328}}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
textarea,
select {
  width: 100%;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  border-left: solid 10px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.08);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/base\/_forms\.scss}line{font-family:\0000340}}
input:hover,
textarea:hover,
select:hover,
button:hover {
  border-color: #9abb17 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/base\/_forms\.scss}line{font-family:\0000347}}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.05);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/base\/_forms\.scss}line{font-family:\0000352}}
select {
  border-color: rgba(0, 0, 0, 0.5);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/base\/_forms\.scss}line{font-family:\0000357}}
input[type="radio"],
input[type="checkbox"] {
  margin: 0 .5em 0 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/base\/_forms\.scss}line{font-family:\0000361}}
textarea {
  min-height: 6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/base\/_forms\.scss}line{font-family:\0000365}}
form li {
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/base\/_buttons\.scss}line{font-family:\000032}}
input[type="submit"],
button {
  margin: 15px 0 20px 0;
  margin: 1.5rem 0 2rem 0;
  padding: 8px 14px;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  font-family: "ATC Overlook", Avenir, "Lucida Grande", Verdana, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e1e1e;
  background: #9abb17;
  border: #6a6a6a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -webkit-transition: right 0.125s ease;
  -moz-transition: right 0.125s ease;
  transition: left 0.125s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\0000370}}
input[type="submit"]:hover, input[type="submit"]:focus,
button:hover,
button:focus {
  background-color: #b8df1b;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.12);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/base\/_buttons\.scss}line{font-family:\0000321}}
input[type="submit"]:active,
button:active {
  background-color: #c3e738;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* Icons
====================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003217}}
.twitter:before {
  content: "\e601";
  font-family: "SkullfaceIcon";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9abb17;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003217}}
.linkedin:before {
  content: "\e603";
  font-family: "SkullfaceIcon";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9abb17;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003217}}
.tumblr:before {
  content: "\e602";
  font-family: "SkullfaceIcon";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9abb17;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003217}}
.instagram:before {
  content: "\e604";
  font-family: "SkullfaceIcon";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9abb17;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003217}}
.github:before {
  content: "\e605";
  font-family: "SkullfaceIcon";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9abb17;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003217}}
.dribbble:before {
  content: "\e606";
  font-family: "SkullfaceIcon";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9abb17;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003217}}
.twitch:before {
  content: "\e600";
  font-family: "SkullfaceIcon";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9abb17;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003217}}
.goodreads:before {
  content: "\e607";
  font-family: "SkullfaceIcon";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9abb17;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003217}}
.up:before {
  content: "\e609";
  font-family: "SkullfaceIcon";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9abb17;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003217}}
.right:before {
  content: "\e60a";
  font-family: "SkullfaceIcon";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9abb17;
}

/* III. Modules — Sitewide standalone logic elements
======================================================
@import "modules/border-bottom-line";
@import "modules/overflow";
@import "modules/transformers";
 */
/* IV. Layout — Visual Structure Styling
====================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\000031}}
.site-header {
  position: absolute;
  top: 15px;
  left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\000037}}
.site-logo {
  position: relative;
  top: 10px;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  fill: #9abb17;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\0000316}}
.site-header a {
  padding: 20px;
  padding: 2rem;
  font-weight: 700;
  font-family: "ATC Overlook", Avenir, "Lucida Grande", Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1.6rem;
  color: #1e1e1e;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\0000316}}
  .site-header a {
    padding: 10px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\0000370}}
.site-header a:hover, .site-header a:focus {
  color: #9abb17;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\0000330}}
.slash {
  position: relative;
  top: 8px;
  margin: 6px;
  margin: 0.6rem;
  font-weight: 400;
  font-size: 40px;
  font-size: 4rem;
  color: #d0d0d0;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\0000330}}
  .slash {
    margin: 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\0000342}}
.project-navigation {
  position: fixed;
  top: 30px;
  right: 0px;
  z-index: 1000;
  background: #e9e9e9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\0000349}}
.project-navigation li {
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\0000354}}
.project-navigation li:last-child {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\0000370}}
.project-navigation li:hover, .project-navigation li:focus {
  background: #87a414;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\0000361}}
.project-navigation a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\0000367}}
.project-navigation svg {
  position: relative;
  top: 5px;
  display: inline-block;
  height: 30px;
  fill: #fff;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\0000342}}
  .project-navigation {
    position: absolute;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\0000379}}
.project-navigation .project-navigation--inactive {
  background: #e9e9e9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\0000383}}
.project-navigation .project-navigation--grid svg {
  top: 10px;
  left: -5px;
  height: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\0000389}}
.project-navigation .project-navigation--next svg {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\0000394}}
.site-main {
  border-top: solid 120px #e9e9e9;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_header\.scss}line{font-family:\0000394}}
  .site-main {
    padding: 5px 20px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_footer\.scss}line{font-family:\000031}}
.site-footer {
  clear: both;
  padding: 60px 0;
  padding: 6rem 0;
  font-weight: 400;
  font-family: "ATC Overlook", Avenir, "Lucida Grande", Verdana, sans-serif;
  font-size: 11px;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #626262;
  border-top: solid 20px #e9e9e9;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_footer\.scss}line{font-family:\000031}}
  .site-footer {
    padding: 30px 20px;
    line-height: 1.2;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_footer\.scss}line{font-family:\0000317}}
.site-footer a {
  color: #1e1e1e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_footer\.scss}line{font-family:\0000321}}
.back-to-top {
  border: 0;
  font-size: 16px;
  font-size: 1.6rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003217}}
.back-to-top:before {
  content: "\e609";
  font-family: "SkullfaceIcon";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9abb17;
  position: relative;
  top: 2px;
  color: #1e1e1e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_footer\.scss}line{font-family:\0000330}}
.back-to-top:hover:before, .back-to-top:focus:before {
  color: #9abb17;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_hero\.scss}line{font-family:\000031}}
.hero {
  padding: 40px;
  padding: 4rem;
  background: #9abb17 url(http://jessicapaoli.com/v6/assets//images/scratches.png);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_hero\.scss}line{font-family:\000034}}
.hero img, .hero p {
  display: inline-block;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\000031}}
.social-networks {
  width: 100%;
  margin: 10px auto;
  margin: 1rem auto;
  padding: 50px 0 20px 50px;
  padding: 5rem 0 2rem 5rem;
}
@media only screen and (max-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\000031}}
  .social-networks {
    padding: 30px 0 10px 0;
    padding: 3rem 0 1rem 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\0000314}}
.social-networks li {
  display: inline-block;
  background: white;
  width: 24.5%;
}
@media only screen and (max-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\0000314}}
  .social-networks li {
    width: 48%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\0000323}}
.social-networks a {
  width: 100%;
  font-weight: 700;
  font-family: "ATC Overlook", Avenir, "Lucida Grande", Verdana, sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\0000330}}
.social-networks li a:before {
  font-size: 2.25em;
  color: gainsboro;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\0000336}}
.social-networks a:hover:before,
.social-networks a:focus:before {
  color: #9abb17;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\0000341}}
.social-network-name,
.social-network-username {
  position: relative;
  top: -1.75em;
  left: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\0000347}}
.social-network-name {
  top: -2.2em;
  font-size: 9.5px;
  font-size: 0.95rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #8c8c8c;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\0000347}}
  .social-network-name {
    left: 3px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\0000358}}
.social-network-username {
  display: block;
  margin-left: 2em;
  font-weight: 400;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\0000358}}
  .social-network-username {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\0000368}}
.contact-container,
.about-container {
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: row;
  color: #fff;
}
@media only screen and (max-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\0000368}}
  .contact-container,
  .about-container {
    flex-direction: column;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -webkit-flex-wrap: wrap;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\0000382}}
.portrait-1 {
  float: left;
  width: 65%;
  background-position: right top;
  background-size: cover;
}
@media only screen and (max-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\0000382}}
  .portrait-1 {
    width: 100% !important;
    height: 300px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\0000394}}
.about-text {
  display: inline-block;
  float: right;
  position: relative;
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  width: 35%;
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  padding: 50px 50px 100px 50px;
  padding: 5rem 5rem 10rem 5rem;
  background: #9abb17;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\00003107}}
.about-text a {
  color: #4f600c;
  border-color: #87a414;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\0000370}}
.about-text a:hover, .about-text a:focus {
  color: #1e1e1e;
  border-color: #62770f;
}
@media only screen and (max-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\0000394}}
  .about-text {
    width: 100% !important;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\00003120}}
.photo-credit {
  position: absolute;
  bottom: 50px;
  font-weight: 700;
  font-family: "ATC Overlook", Avenir, "Lucida Grande", Verdana, sans-serif;
  font-size: 11px;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_about\.scss}line{font-family:\00003129}}
.colophon {
  padding: 20px;
  padding: 2rem;
  font-weight: 400;
  font-family: "ATC Overlook", Avenir, "Lucida Grande", Verdana, sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\000031}}
.contact-container svg {
  position: relative;
  top: 2px;
  width: 1em;
  height: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\000038}}
.text-contact {
  float: left;
  width: 30%;
  background: #626262;
  padding: 50px;
  padding: 5rem;
}
@media only screen and (max-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\000038}}
  .text-contact {
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\0000316}}
.text-contact a {
  color: #d0d0d0;
  border-color: #494949;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\0000370}}
.text-contact a:hover, .text-contact a:focus {
  color: #fff;
  border-color: #2f2f2f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\0000325}}
.text-contact #mail {
  fill: #959595;
  border-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\0000331}}
#contactform {
  display: inline-block;
  float: right;
  position: relative;
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  width: 70%;
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  padding: 50px;
  padding: 5rem;
  background: #1e1e1e;
  font-weight: 700;
  font-family: "ATC Overlook", Avenir, "Lucida Grande", Verdana, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}
@media only screen and (max-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\0000331}}
  #contactform {
    width: 100%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\0000350}}
.form-field {
  width: 48%;
  color: #6a6a6a;
  margin: 0 20px 10px 0;
  margin: 0 2rem 1rem 0;
}
@media only screen and (max-width: 700px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\0000350}}
  .form-field {
    width: 100%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\0000359}}
.form-field--name {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\0000362}}
.form-field--email {
  margin-right: 0;
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003143}}
.form-field--input:after:before, .form-field--input:after:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003147}}
.form-field--input:after:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\0000372}}
.form-label {
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1.6rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\0000377}}
.form-input {
  margin: 5px 0 0 0;
  margin: 0.5rem 0 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\0000381}}
.form-field.textarea {
  display: block;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\0000386}}
#arrow-right {
  fill: #1e1e1e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\0000390}}
.contactform-button:active#arrow-right {
  -webkit-transform: translateX(2px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\0000395}}
.form-required {
  color: #414141;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\0000399}}
.form-field.error .form-required {
  color: #ff4136;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\00003104}}
.form-field.error input[type="text"],
.form-field.error textarea {
  border-left-color: #ff4136;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\00003108}}
.error-alert {
  display: block;
  color: #fff;
  background: #ff4136;
  padding: 10px 15px;
  padding: 1rem 1.5rem;
  margin: 20px 0;
  margin: 2rem 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003143}}
.error-alert:before, .error-alert:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003147}}
.error-alert:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_contact\.scss}line{font-family:\00003117}}
.error-context {
  float: right;
  font-weight: 300;
  text-transform: none;
  color: #626262;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-grid\.scss}line{font-family:\000031}}
.project-grid {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-grid\.scss}line{font-family:\000039}}
.project-grid li {
  display: inline-block;
  vertical-align: top;
  width: 22.5%;
  padding: 10px;
  padding: 10px;
  padding: 1rem;
  margin: 0 20px 30px 0;
  margin: 0 2rem 3rem 0;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-grid\.scss}line{font-family:\000039}}
  .project-grid li {
    width: 100%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-grid\.scss}line{font-family:\0000316}}
.project-grid li img,
.project-grid li video {
  display: block;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-grid\.scss}line{font-family:\0000321}}
.project-grid li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: solid 7px #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\0000370}}
.project-grid li a:hover, .project-grid li a:focus {
  border-color: #9abb17;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-grid\.scss}line{font-family:\0000331}}
.project-grid li .project-grid-label {
  display: block;
  padding: 20px 0;
  padding: 2rem 0;
  font-weight: 700;
  font-family: "ATC Overlook", Avenir, "Lucida Grande", Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-page\.scss}line{font-family:\000035}}
.project-details {
  font-size: 13px;
  font-size: 1.3rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-page\.scss}line{font-family:\0000310}}
.project-details > div {
  display: inline-block;
  vertical-align: top;
  width: 30.83333%;
  margin-right: 20px;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-page\.scss}line{font-family:\0000310}}
  .project-details > div {
    width: 100%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-page\.scss}line{font-family:\0000315}}
.project-details .tags--large {
  display: inline-block;
  vertical-align: top;
  width: 60.83333%;
}
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-page\.scss}line{font-family:\0000315}}
  .project-details .tags--large {
    width: 100%;
  }
}

@media only screen and (max-width: 780px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-page\.scss}line{font-family:\0000320}}
  .project-details > div {
    width: 100%;
    margin: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-page\.scss}line{font-family:\0000326}}
.project-details .date {
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-page\.scss}line{font-family:\0000330}}
.project-details dt {
  display: block;
  border-bottom: solid 1px #e9e9e9;
  font-weight: 700;
  font-family: "ATC Overlook", Avenir, "Lucida Grande", Verdana, sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-page\.scss}line{font-family:\0000339}}
.project-details dd {
  margin: 10px 0 20px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-page\.scss}line{font-family:\0000343}}
.project-visuals {
  width: 80%;
  margin: 80px auto;
  margin: 8rem auto;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-page\.scss}line{font-family:\0000347}}
.project-visuals img {
  max-width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-page\.scss}line{font-family:\0000353}}
.project-visuals li {
  margin: 0 0 100px 0;
  margin: 0 0 10rem 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-page\.scss}line{font-family:\0000356}}
.project-visuals p {
  width: 60%;
  margin: 10px auto 0 auto;
  text-align: left;
}

@media only screen and (max-width: 900px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-page\.scss}line{font-family:\0000367}}
  .project-information,
  .project-details,
  .project-visuals p {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-page\.scss}line{font-family:\0000375}}
  .project-information,
  .project-details,
  .project-visuals p {
    width: 100%;
    -moz-column-count: 1;
    -webkit-column-count: 1;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/layout\/_project-page\.scss}line{font-family:\0000383}}
.visit-site {
  font-weight: 700;
  font-family: "ATC Overlook", Avenir, "Lucida Grande", Verdana, sans-serif;
  padding: 4px 0;
  padding: 0.4rem 0;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jpaoli\/Sites\/v6\/assets\/scss\/global\/_helpers\.scss}line{font-family:\00003217}}
.visit-site:after {
  content: "\e60a";
  font-family: "SkullfaceIcon";
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #9abb17;
  margin-left: 6px;
}
