/*
	HELPERS
	------------------------------------------------------------------------ //
	Sass mixins and silent classes to aid in presentation and accessibility.
	------------------------------------------------------------------------ */

// Baseline, measured in pixels
// The value should be the same as the font-size value for the html element
// If the html element's font-size is set to 62.5% (of the browser's default font-size of 16px),
// then the variable below would be 10px.
$baseline-px: 10px;

@mixin rem($property, $px-values) {
  // Convert the baseline into rems
  $baseline-rem: $baseline-px / 1rem * 1;
  // Print the first line in pixel values
  #{$property}: $px-values;
  // If there is only one (numeric) value, return the property/value line for it.
  @if type-of($px-values) == "number" {
    #{$property}: $px-values / $baseline-rem; }
  @else {
    // Create an empty list that we can dump values into
    $rem-values: ();
    @each $value in $px-values {
      // If the value is zero or not a number, return it
      @if $value == 0 or type-of( $value ) != "number" {
        $rem-values: append($rem-values, $value); }
      @else {
        $rem-values: append($rem-values, $value / $baseline-rem); } }
    // Return the property and its list of converted values
    #{$property}: $rem-values; } }

@mixin font-face($font-family, $url) {
   @font-face {
      font-family: '#{$font-family}';
      src: url('#{$theme-path}/css/fonts/#{$url}.eot?') format('eot'), url('#{$theme-path}/css/fonts/#{$url}.woff') format('woff'), url('#{$theme-path}/css/fonts/#{$url}.ttf') format('truetype');
   }
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'SkullfaceIcon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
  position: relative;
  top: 1px;
  margin: 0 2px 0 4px;
  font-family: SkullfaceIcon;
  content: attr(data-icon);
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Presentational mixins and (silent) classes
// ------------------------------------------------------------------------- //

// Never forget :focus again!
@mixin hover {
	&:hover, &:focus {
		@content;
	}
}

// Borders
@mixin border-bottom($padding-vertical-border: .5em, $color-border: $color-text-light) {
	padding-bottom: $padding-vertical-border;
	margin-bottom: $padding-vertical-border;
	border-bottom: solid 1px $color-border;
}

%border-bottom {
	@include border-bottom;
}

// Transitions
@mixin transition($property: all, $duration: .35s, $function: ease-in-out) {
    -webkit-transition: $property $duration $function;
            transition: $property $duration $function;
}

%transition {
	@include transition;
}

// Un-style a list (no bullets or spacing, good start for navigation)
%no-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

// Hyphenation support
%hyphenation {
	-ms-word-break: hyphenate;
	word-break: hyphenate;
	word-break: hyphenate;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}


// Media queries: breakpoints
// ------------------------------------------------------------------------- //
$mobile-default:    480px;
$tablet-small:      700px;
$tablet-default:    830px;

// Media queries: defaults to a mobile scenario
// ------------------------------------------------------------------------- //
@mixin media-query($argument: max-width, $screen-size: $mobile-default) {
    @media only screen and (#{$argument}: #{$screen-size}) {
        @content;
    }
}


%bold-line {
    &:before {
        content: "\2014";
        display: block;
        color: $color-primary;
        font-weight: $bold;
    }
}

// Float-clearing and alignment classes
// ------------------------------------------------------------------------- //

@mixin clearfix {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }
    &:after {
        clear: both;
    }
}

// Floats
.align-left {
    float: left;
}

.align-right {
    float: right;
}

.align-center {
    display: block;
    margin: 0 auto;
    @include clearfix;
}

// Images
img.align-left {
    margin: 0 2em 0 0;
}

img.align-right {
    margin: 0 0 0 2em;
}

img.align-center {
    margin: 2em auto;
}

// Responsive video | http://css-tricks.com/rundown-of-handling-flexible-media
// ------------------------------------------------------------------------- //

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper object,
.video-wrapper embed,  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// Icons
// ------------------------------------------------------------------------- //

@function match($haystack, $needle) {
    @each $item in $haystack {
        $index: index($item, $needle);
        @if $index {
            $return: if($index == 1, 2, $index);
            @return nth($item, $return);
        }
    }
    @return false;
}

// For adding icons to elements using CSS pseudo-elements
// Source: http://jaydenseric.dev/blog/fun-with-sass-and-font-icons
@mixin icon($position: 'before', $styles: true, $icon: false) {
    // Either a :before or :after pseudo-element, defaulting to :before
    &:#{$position} {
        @if $icon {
            // Icon has been specified
            content: match($icons, $icon);
        }
        @if $styles {
            // Suportive icon styles have been specified
			font-family: $font-family-icons;
			speak: none;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
      color: $color-primary;
        }
        // Include any extra rules supplied for the pseudo-element
        @content;
    }
}

[data-icon]:before {
	@extend %font-stack-icon;
	content: attr(data-icon);
}

// Hide content and text
// ------------------------------------------------------------------------- //

// Hide content from browsers and screen-readers
%hidden {
	display: none !important;
	visibility: hidden;
}

// Hide content from browsers; show for screen-readers
%screen-reader-text,
.screen-reader-text {
	display: none;
}

// Hide text only, accessibly and efficiently
%hide-text  {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}