/*
	TYPOGRAPHY
	------------------------------------------------------------------------ //
	Starting point for all the type basics. These shouldn't change.
	------------------------------------------------------------------------ */

// Font stacks
// ------------------------------------------------------------------------- //

@include font-face('#{$font-family-icons}', '#{$font-family-icons}');

@mixin font-stack-primary($weight: $normal) {
	font-weight: $weight;
	font-family: $font-family-primary;
}

@mixin font-stack-secondary($weight: $bold) {
	font-weight: $weight;
	font-family: $font-family-secondary;
}

// Global styles
// ------------------------------------------------------------------------- //

::selection {
	background: $color-primary;
	color: #fff;
}

html {
	@include font-stack-primary;
	font-size: 62.5%;
	color: $color-text;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

body {
	@include rem('font-size', $font-size-base);
	line-height: $leading;
	border-left: solid 20px $color-tertiary-light;
	border-right: solid 20px $color-tertiary-light;
	@include media-query {
		border: 0;
	}
}

a {
	color: $color-link;
	text-decoration: none;
	padding-bottom: 1px;
	@include hover {
		color: $color-link-secondary;
		cursor: pointer;
		cursor: url('http://www.snazzyspace.com/cursorsfolder/mickey-perfect.png'), auto !important;

	}
}

p a {
	border-bottom: solid 1px $color-tertiary-light;
	@include hover {
		border-color: $color-primary;
	}
}

code {
	background: $color-text-light;
	padding: .3em .5em;
	margin: 0 .25em;
	overflow: auto;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	@include font-stack-secondary;
}

h1 {
    @include rem('padding-bottom', 30px);
    @include rem('font-size', $font-size-large);
	text-align: center;
	line-height: 1.2;
	@extend %bold-line;
	@include media-query {
		@include rem('font-size', 36px);
	}
}